h1{
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    
}
body,html {
    margin: 0;
    padding: 0;
    font-family: cursive;
    background-color: #999;

  }
  
  .keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  .key {
    border: .4rem solid rgb(53, 7, 16);
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
  }
  
  .playing {
    transform: scale(1.1);
    border-color: crimson;
    box-shadow: 0 0 1rem crimson;
  }
  
  kbd {
    display: block;
    font-size: 4rem;
  }
  
  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: crimson;
  }